form {
	max-width: 40rem;
    margin:75px;
    
}

.field-title, .field-img{
    width: 100%;
    
}

/* Style inputs */
input[type=text] {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .field-content{
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    float: right;
    width: 20%;
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
  
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: gray;
  }

  .field-content label, .field-section-select label{
      display: block;
      
  }

  label, legend{
        margin-bottom: 5px;
      font-size: 16px;
      font-weight: 600;
  }

 