.article-container{
    display:flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.article-data{
    
    width: 400px;
    height: 200px;
    margin-left: 50px;
   
}

.home-articles{
    border-bottom: 2px ;
}

.article-img{
    width:30%;
    height: 200px;
}

.article-container span{
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
}

.article-container h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    
    
}

.article-container h3{
    font-size: 16px;
    font-weight: normal;
    font-style: italic;

}