

.home-articles{
    border-bottom: 2px ;
}

.article-section{
    font-weight: 600;
    padding-bottom: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    text-align:left;
}
