.article-container{
    
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color:lightgray;
  
    
}

.article-data{
    
    width: 400px;
    height: 200px;
    margin-left: 50px;
   
}

.article-img{
    width:30%;
    height: 200px;
    margin-left: 75px;
}

.article-data span{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.article-container h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    
    
}


.article-container h3{
    font-size: 16px;
    font-weight: normal;
    font-style: italic;

}

.edit-article-btn, .delete-article-btn{
    float: right;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-weight: 700;
    border: none;
    margin-right: 20px;
}